#background{
    -fx-background-color: linear-gradient(to bottom, #36f257, #015d20);

}

.exit {
    -fx-background-color: transparent;
    -fx-font-style: bold;
    -fx-transition: 0.4s;
}


.exit:hover{
    -fx-background-color: rgba(255, 0, 0, 0.5);
    -fx-font-style: bold;

}

